[Desktop Entry]
Name=Intframework
Name[tr]=İntframework
Comment=The ultimate Penetration Testing Tool 🔎 intSpLoiT framework 
Exec=sh -c "intconsole"
Icon=/opt/intframework/intframework.png
Terminal=true
Type=Application
Categories=02-penetration-testing;
X-Kali-Package=intframework
