pyfiglet
colorama
requests
argparse
paramiko
http.client
dnspython
retrying
bs4
stem
python-whois
datetime
ipaddress
configparser
pillow
wave
typing
netaddr
aiohttp
aiosignal
flask
googlesearch-python
ping3
pyshark
pysocks
python-nmap
pytraceroute
pywhois
scapy
tqdm
sysinfo
smbmap
websockets
netifaces