pyfiglet
colorama
requests
argparse
socket
getpass
re
random
queue
paramiko
http.client
dns
dns.resolver
ssl
retrying
io
contextlib
bs4
stem
stem.control
python-whois
datetime
ipaddress
logging
csv
threading
configparser
pillow
wave
typing
netaddr
aiohttp
aiosignal
flask
googlesearch-python
ping3
pyshark
pysocks
python-nmap
pytraceroute
pywhois
scapy
tqdm
sysinfo
websockets
sqlite3
netifaces
concurrent.futures